<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="br">
	
	<!-- 
	<resultMap type="BoardVO" id="BoardVO">
		<result column="tp_boardid" property="tp_boardid"/>
		<result column="writer" property="writer"/>
		<result column="title" property="title"/>
		<result column="b_regdate" property="b_regdate"/>
		<result column="b_content" property="b_content"/>
		<result column="updatedate" property="updatedate"/>
		<result column="deletedate" property="deletedate"/>
		<result column="hit" property="hit"/>
		<result column="tp_id" property="tp_id"/>
		<result column="b_updown" property="b_updown"/>
		<result column="f_id" property="f_id"/>
		<result column="f_name" property="f_name"/>
		<result column="f_path" property="f_path"/>
		<result column="tp_name" property="tp_name"/>
		<collection property="replyvo" resultMap="replyvo"/>
	</resultMap>
	
	<resultMap type="BoardVO" id="BoardVO">
		<result column="tp_replyid" property="tp_replyid"/>
		<result column="tp_boardid" property="tp_boardid"/>
		<result column="r_writer" property="r_writer"/>
		<result column="r_content" property="r_content"/>
		<result column="r_regdate" property="r_regdate"/>
		<result column="r_updown" property="r_updown"/>
	</resultMap>
	-->

	
	
	<!-- 글 작성 insert -->
	<insert id="insert" parameterType="bVO">
		INSERT INTO BOARD 
				(TP_BOARDID, WRITER, TITLE, B_CONTENT, B_REGDATE,
				 HIT, B_UPDOWN, TP_ID, F_ID,
				 F_NAME, F_PATH)
		VALUES 
				(BOARD_SEQ.NEXTVAL, #{writer}, #{title}, #{b_content}, SYSDATE,
				0, 0, 2, FILE_SEQ.nextval,
				 #{f_name}, #{f_path})
	</insert>
	
	<!-- 글 전체 목록 불러오기 -->
	<select id="list" resultType="bVO" parameterType="String">
		SELECT B.*, T.TP_NAME
		FROM BOARD B, TVPROGRAM T
		WHERE 1 = 1
		<choose>
			<when test="idx == 0">
				AND B.TP_ID = T.TP_ID
				ORDER BY TP_BOARDID
			</when>
			<when test="idx == 1">
				AND B.TP_ID = T.TP_ID
				ORDER BY HIT DESC
			</when>
			<when test="idx == 2">
				AND B.TP_ID = T.TP_ID
				ORDER BY B_UPDOWN DESC
			</when>
			<when test="idx == 3">
				AND B.TP_ID = T.TP_ID
				ORDER BY B_REGDATE DESC
			</when>
		</choose>
	</select>
	
	<!-- 글 상세보기 -->
	<select id="one" resultType="bVO"  parameterType="int">
		SELECT TP_BOARDID, TITLE, WRITER, B_CONTENT, B_REGDATE, HIT, B_UPDOWN, T.TP_NAME
		FROM BOARD B, tvprogram T
		WHERE t.tp_id = b.tp_id AND TP_BOARDID = #{tp_boardid}

	</select>
	
	<!-- 글 수정하기 -->
	<update id="update" parameterType="bVO">
	UPDATE BOARD 
	SET
		TITLE = #{title},
		B_CONTENT = #{b_content},
		UPDATEDATE = SYSDATE,
		TP_ID = 1,
		F_NAME = #{f_name},
		F_PATH = #{f_path}
	WHERE TP_BOARDID = #{tp_boardid}
	</update>
	
	<!--  조회수 올리기 -->
	<update id="viewcnt" parameterType="int">
	UPDATE BOARD 
	SET
		HIT = HIT + 1
	WHERE TP_BOARDID = #{tp_boardid}
	</update>
	
	<!-- 댓글 작성하기 -->
	<insert id="replyInsert" parameterType="rVO">		
		INSERT INTO REPLY (TP_REPLYID, TP_BOARDID, R_WRITER, R_CONTENT, R_REGDATE, R_UPDOWN) 
		VALUES (REPLY_SEQ.NEXTVAL, #{tp_boardid}, #{r_writer}, #{r_content}, SYSDATE, 0)
	</insert>
	
	<!-- 해당 글 댓글 전체 불러오기 -->
	<select id="rlist" resultType="rVO" parameterType="int">
		SELECT TP_REPLYID, TP_BOARDID, R_WRITER, R_CONTENT, R_REGDATE, R_UPDOWN
		FROM REPLY
		WHERE TP_BOARDID = #{tp_boardid}
	</select>
	
	<!-- tv프로그램 목록 가져오기 -->
	<select id="tplist" resultType="tpVO">
		SELECT TP_NAME, TP_MEMBER, TP_RATION, TP_GENRE, TP_BRDCS, TP_COUNTRY, TP_CONTENT
		FROM TVPROGRAM 
	</select>
</mapper>


